<table class="rating-block">
	<tr>
		<td><span class="rating-label">Damage</span></td>
		<td><rating-bar></rating-bar></td>
	</tr>
	<tr>
		<td><span class="rating-label">Support</span></td>
		<td><rating-bar></rating-bar></td>
	</tr>
	<tr>
		<td><span class="rating-label">Push</span></td>
		<td><rating-bar></rating-bar></td>
	</tr>
	<tr>
		<td><span class="rating-label">Presence</span></td>
		<td><rating-bar></rating-bar></td>
	</tr>
	<tr>
		<td><span class="rating-label">Engage</span></td>
		<td><rating-bar></rating-bar></td>
	</tr>
</table>
