/* Main elements */
body {
	background-color: #140E24;
	font-family: Roboto;
	color: #EBF;
}

h1 {
	text-align:center;
	text-transform:uppercase;
	font-size:150%;
	margin-top:10px;
}

h2 {
	text-align:center;
	text-transform:uppercase;
	font-size:125%;
}

/* Team roster */
.roster {
	padding: 5px;
	padding-bottom:20px;
	border-radius:5px;
}

.roster-red {
	background-color:#880000;
}

.roster-blue {
	background-color:#000088;
}

/* Hero selection */
.hero-selection {
	display:inline-block;
	margin-right:5px;
	margin-left:5px;
}

/* Rating blocks */
.rating-block td {
	padding: 2px 5px;
	text-align: center;
}

/* Rating bars */
progress {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 250px;
	height: 20px;
	border-radius:10px;
	border: 1px solid #9955bb;
	background: none;
}

progress::-moz-progress-bar {
	background: -moz-linear-gradient(top, #FFB84D, #FF9900);
	border-radius:10px;
}

progress::-webkit-progress-bar {
	background: none;
	border-radius:10px;
}

progress::-webkit-progress-value {
	border-radius:10px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFB84D), color-stop(100%, #FF9900));
	background: -webkit-linear-gradient(top, #FFB84D, #FF9900);
}

/* Labels */
.rating-label {
	font-size:100%;
	text-transform:uppercase;
}
